<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743053782422-594370cl0rvcgec8ctbjm8rub7jnibvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743053782422-594370cl0rvcgec8ctbjm8rub7jnibvd</string>
	<key>API_KEY</key>
	<string>AIzaSyChi863GEwOiuUGnYIrylF221Bd_P01vQk</string>
	<key>GCM_SENDER_ID</key>
	<string>743053782422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappweb</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-web-projeto-gomes</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-web-projeto-gomes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743053782422:ios:6175b5d80ae3a3eedd41b7</string>
</dict>
</plist>